@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
}

<div class="d-flex justify-content-center" style="margin-top: 100px;">
    <div class="border border-dark rounded p-3" style="width: 600px; background-color: aliceblue">
        <section>
            <form id="account" method="post">
                <h1 class="text-center">Đăng nhập</h1>
                <p class="fst-italic" style="color: darkgray"><i class="bi bi-lightbulb"></i> Dùng tài khoản nhân viên của bạn để đăng nhập.</p>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="taikhoancuaban" />
                    <label asp-for="Input.Email" class="form-label">Tài khoản</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="matkhau" />
                    <label asp-for="Input.Password" class="form-label">Mật khẩu</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Ghi nhớ lần đăng nhập này?
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Đăng nhập</button>
                </div>
                <br />
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
                    </p>
                   @*  <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Đăng kí người dùng mới</a>
                    </p> *@
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    body {
        background-image: url("/images/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
