<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PhanMemWebQuanLiBenhVien</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PhanMemWebQuanLiBenhVien.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
        <div class="container-fluid vh-100">
            <div class="row h-100">
                <!-- Vertical Navbar -->
                <nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar h-100">
                    <div class="position-sticky">
                        <ul class="nav flex-column" style="font-size: 20px;">
                            <li class="nav-item">
                                <a class="nav-link active fw-bold" asp-controller="Home" asp-action="Index">
                                    <span class="bi bi-house"></span> Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fw-bold" asp-controller="Home" asp-action="Privacy">
                                    <span class="bi bi-shield-lock"></span> Privacy
                                </a>
                            </li>
                            @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="PhongKham" asp-action="Index">Phòng Khám</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="PhongBenh" asp-action="Index">Phòng Bệnh</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Patient" asp-action="Index">Bệnh Nhân</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="MedicalRecord" asp-action="Index">Bệnh án</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Nurse" asp-action="Index">Y tá</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Profession" asp-action="Index">Chuyên khoa</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="WorkSchedule" asp-action="Index">Lịch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Mission" asp-action="Index">Nhiệm vụ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="MedicalRecord" asp-action="Index">Bệnh án</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Doctor" asp-action="Index">Bác sĩ</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Danh sách Account
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                                        <li><a class="dropdown-item" asp-controller="CustomedUser" asp-action="DoctorIndex">Bác sĩ</a></li>
                                        <li><a class="dropdown-item" asp-controller="CustomedUser" asp-action="NurseIndex">Y tá</a></li>
                                        <li><a class="dropdown-item" asp-controller="CustomedUser" asp-action="ModeratorIndex">Moderator</a></li>
                                        <li><a class="dropdown-item" asp-controller="CustomedUser" asp-action="AdminIndex">Admin</a></li>
                                    </ul>
                                </li>
                            }
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </nav>
            <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - PhanMemWebQuanLiBenhVien - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
