@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item h-50 p-0">
            <p class="text-decoration-underline fst-italic text-center" style="color: gray; overflow: hidden; width: 200px; font-size: 15px;">@(await UserManager.GetUserNameAsync(UserManager.GetUserAsync(User).Result))</p>
        </li>
        <li class="nav-item m-0">
            <div class="row d-flex justify-content-center align-items-center gap-1">
                <form class="col col-auto p-0 mt-0">
                    <a id="manage" class="btn text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Tài khoản</a>
                </form>

                <form id="logoutForm" class=" col col-auto p-0 mt-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="btn text-white">Đăng xuất</button>
                </form>
            </div>
        </li>
    }
else
{
    <li class="nav-item ">
            <a class="nav-link fw-bold text-white " id="register" asp-area="Identity" asp-page="/Account/Register" style="padding-left: 18px"><i class="bi bi-person-plus-fill"></i> Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link fw-bold text-white " id="login" asp-area="Identity" asp-page="/Account/Login" style="padding-left: 18px"><i class="bi bi-box-arrow-in-left"></i> Login</a>
    </li>
}
</ul>
