@model PhanMemWebQuanLiBenhVien.Models.PhongKham
@{
	ViewData["Title"] = "Tạo Phòng Khám";
}

<div class="container mt-4">
	<div class="row my-2">
		<div class="col text-primary"><h2>Thêm phòng khám mới</h2></div>
	</div>
	<form asp-action="Create" asp-controller="PhongKham" method="post">
		<div class="form-group">
			<label asp-for="Name">Tên Phòng</label>
			<input asp-for="Name" type="text" class="form-control" placeholder="Nhập Tên Phòng">
		</div>
		<span asp-validation-for="Name" class="text-danger"></span>
		<br />
		<div class="row form-group" style="margin-left: 1px">
			<a asp-controller="PhongKham" asp-action="Index" class="col col-auto btn text-white">Quay lại</a>
			<div class="col-auto text-primary ">
				<button type="submit" class="btn btn-primary ">Thêm</button>
			</div>
		</div>
	</form>
</div>