@model PhongBenh
@{
    ViewData["Title"] = "Sửa Phòng Bệnh";
}

@if (Model == null)
{
    <p>Không tìm thấy phòng bệnh cần sửa</p>
}
else
{
    <div class="container mt-4">
        <div class="row my-2">
            <div class="col text-primary">
                <h2>Sửa phòng bệnh</h2>
            </div>
        </div>
        <form method="post">
            <input asp-for="RoomId" hidden />
            <div class="form-group">
                <label for="Name">Tên phòng bệnh</label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input asp-for="Name" class="form-control" placeholder="Nhập tên phòng bệnh" />
            </div>
            <div class="form-group">
                <label for="Name">Số giường bệnh</label>
                <span asp-validation-for="NumberOfBeds" class="text-danger"></span>
                <input asp-for="NumberOfBeds" class="form-control" placeholder="Nhập số giường bệnh" />
            </div>
            <div class="form-group">
                <label for="ProfessionId">Chuyên khoa</label>
                <select asp-for="ProfessionId" asp-items="@ViewBag.Professions" class="form-control">
                    <option value="">Chọn khoa của phòng</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">
                Sửa
            </button>
        </form>
    </div>
}
