@model Doctor

<form method="post">
   <p>ID bác sĩ: @Model.DoctorId</p>
   <p>Tên bác sĩ: @Model.DoctorName</p>
   <input name="DoctorId" asp-for="@Model.DoctorId" hidden />
   <input name="username" placeholder="Nhập tên đăng nhập của tài khoản"/>
   <input name="password" placeholder="Nhập mật khẩu cho tài khoản"/>
   <button type="submit" class="btn-primary">Cấp</button>
</form>
