@model Nurse
@{
    ViewData["Title"] = "Tạo Y Tá";
}

<div class="container mt-4">
    <div class="row my-2">
        <div class="col text-primary">
            <h2>Thêm y tá mới</h2>
        </div>
    </div>
    <form asp-action="Create" asp-controller="Nurse" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="NurseName">Tên y tá</label>
            <span asp-validation-for="NurseName" class="text-danger"></span>
            <input asp-for="NurseName" class="form-control" placeholder="Nhập tên y tá" />
        </div>
        <div class="form-group">
            <label for="NurseCCCD">CCCD</label>
            <span asp-validation-for="NurseCCCD" class="text-danger"></span>
            <input asp-for="NurseCCCD" class="form-control" placeholder="Nhập CCCD y tá" />
        </div>
        <div class="form-group">
            <label for="NurseAge">Tuổi</label>
            <span asp-validation-for="NurseAge" class="text-danger"></span>
            <input asp-for="NurseAge" class="form-control" placeholder="Nhập tuổi y tá" />
        </div>
        <div class="form-group">
            <label for="NurseGender">Giới tính</label>
            <select asp-for="NurseGender" asp-items="@ViewBag.Genders" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="NurseImgURL">Ảnh y tá</label>
            <input type="file" name="NurseImg" class="form-control" />
        </div>
        <br />
        <div class="row d-flex gap-2" style="margin-left: 1px">
            <a asp-controller="Nurse" asp-action="Index" class="col col-auto btn text-white">Quay lại</a>
            <div class="col col-auto">
                <button type="submit" class="btn btn-primary">
                    Thêm
                </button>
            </div>
        </div>
    </form>
</div>
