@model PhanMemWebQuanLiBenhVien.Models.Models.PhongCapCuu
@{
    ViewData["Title"] = "Sửa Phòng Cấp Cứu";
}
<link rel="stylesheet" href="~/css/PhongCapCuu/Update.css"/>
@if (Model == null)
{
    <p>Không tìm thấy phòng cấp cứu cần sửa</p>
}
else
{
    <div class="container mt-4">
        <div class="row my-2">
            <div class="col text-primary">
                <h2>Sửa phòng cấp cứu</h2>
            </div>
        </div>
        <form method="post">
            <input asp-for="RoomId" hidden />
            <div class="form-group">
                <label for="Name">Tên phòng cấp cứu</label>
                <span asp-validation-for="Name" class="text-danger"></span>
                <input asp-for="Name" class="form-control" placeholder="Nhập tên phòng cấp cứu" />
            </div>
            <input asp-for="isAvailable" hidden />
            <button type="submit" class="btn btn-primary" >
                Sửa
            </button>
        </form>
    </div>
}
