@model PhanMemWebQuanLiBenhVien.Models.Profession
@{
	ViewData["Title"] = "Tạo Chuyên Khoa";
}
<link rel="stylesheet" href="~/css/Profession/Create.css"/>
<div class="container mt-4">
	<div class="row my-2">
		<div class="col text-primary"><h2>Thêm chuyên khoa mới</h2></div>
	</div>
	<form asp-action="Create" asp-controller="Profession" method="post">
		<div class="form-group">
			<label asp-for="ProfessionName">Tên Phòng</label>
			<input asp-for="ProfessionName" type="text" class="form-control" placeholder="Nhập Tên Chuyên Khoa">
		</div>
		<span asp-validation-for="ProfessionName" class="text-danger"></span>
		<div class="form-group">
			<label asp-for="Description">Mô Tả</label>
			<span asp-validation-for="Description" class="text-danger"></span>
			<textarea asp-for="Description"  class="form-control" placeholder="Nhập Mô Tả Chuyên Khoa"></textarea>
		</div>
		<br />
		<div class="row d-flex">
			<a asp-controller="Profession" asp-action="Index" class="btn text-white col col-auto">Quay lại</a>
			<div class="col-auto text-primary ">
				<button type="submit" class="btn text-white">Thêm</button>
			</div>
		</div>
	</form>
</div>