@model Profession
@{
    ViewData["Title"] = "Thêm Trưởng Khoa";
}
<link rel="stylesheet" href="~/css/Profession/ThemTruongKhoa.css" />
<h2>@Model.ProfessionName</h2>
<form method="post">
    <input type="hidden" asp-for="ProfessionId" />
    <div class="form-group">
        <label for="BacSiTruongKhoaId">Chọn Bác Sĩ Trưởng Khoa</label>
        <select asp-for="TruongKhoaId" class="form-control" asp-items="@ViewBag.doctorlist">
            <option value="">Chọn bác sĩ trưởng khoa</option>
        </select>
    </div>
    <br />
    <div class="row d-flex gap-2" style="margin-left: 1px">
        <a asp-controller="Profession" asp-action="Index" class="btn text-white col col-auto">Quay lại</a>
        <div class="col col-auto">
            <button type="submit" class="btn text-white">Lưu</button>
        </div>
    </div>
</form>