@model MedicalVisit
@{
    ViewData["Title"] = "Thêm lần khám";
}

<div class="container mt-4">
    <div class="row my-2">
        <div class="col text-primary">
            <h2>Thêm mới</h2>
        </div>
    </div>
    <form asp-action="CreateMedicalVisit" asp-controller="MedicalRecord" method="post">
        <div class="form-group">
            <label asp-for="MedicalRecordId">ID bệnh án</label>
            <input asp-for="MedicalRecordId" class="form-control" value="@ViewBag.MedicalRecordId" readonly />
        </div>
        <div class="form-group">
            <label asp-for="VisitDate">Ngày khám</label>
            <input asp-for="VisitDate" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Symptom">Triệu chứng</label>
            <input asp-for="Symptom" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="KetQuaLamSang">Kết quả lâm sàng</label>
            <input asp-for="KetQuaLamSang" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ChanDoan">Chẩn đoán</label>
            <input asp-for="ChanDoan" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">
            Thêm lần khám
        </button>
        <a asp-action="DoctorDetail" asp-controller="MedicalRecord" asp-route-MedicalRecordId="@ViewBag.Id" class="btn text-white">Quay lại</a>
    </form>
</div>
