@model MedicalRecord
@{
    ViewData["Title"] = "Sửa Bệnh Án";
}
<link rel="stylesheet" href="~/css/MedicalRecord/Update.css" />
<div class="container mt-4">
    <div class="row my-2">
        <div class="col text-primary">
            <h2>Sửa bệnh án</h2>
        </div>
    </div>
    <form method="post">
        <input asp-for="MedicalRecordId" hidden />
        <div class="form-group">
            <label for="PatientName">Tên bệnh nhân</label>
            <span asp-validation-for="PatientName" class="text-danger"></span>
            <input asp-for="PatientName" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label for="PatientGender">Giới tính</label>
            <span asp-validation-for="PatientGender" class="text-danger"></span>
            <input asp-for="PatientGender" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label for="BHYT">Bảo hiểm y tế</label>
            <span asp-validation-for="BHYT" class="text-danger"></span>
            <select asp-for="BHYT" class="form-control">
                <option value="Có">Có</option>
                <option value="Không">Không</option>
            </select>
        </div>
        <div class="form-group">
            <label for="Address">Địa chỉ</label>
            <span asp-validation-for="Address" class="text-danger"></span>
            <input asp-for="Address" class="form-control" readonly />
        </div>
        <div class="form-group">
            <label for="TienSuBenhAn">Tiền sử bệnh án</label>
            <span asp-validation-for="TienSuBenhAn" class="text-danger"></span>
            <input asp-for="TienSuBenhAn" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">
            Sửa
        </button>
    </form>
</div>