@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1 class="text-danger">
    © 2024 Hospital Management Portal | All Rights Reserved
</h1>
<style>
    body {
        background-image: url("/images/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
